.AllReview{
    background-color: white;
    width: 100%;
    margin-top: 1%;
    text-align: center;

}

.Review-component{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
    justify-content: center;

}
@media (max-width: 990px){
    .Review-component{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
}
@media (max-width: 680px){
    .What{
        padding-top: 2%;
        color: #cc6666;
        font-size: 20px;
        font-size: 500;
    }
    .Whatpat{
        color: #993333;
        font-size: 25px;
        font-size: 600;
    }
    .whatabo{
        color: #993333;
        font-size: 30px;
    }
    .review-patient{
       width: 40%;
    }
}