
/* Facilites.css */
.Facilites-main{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cf2f2f;
    padding-top: 5%;
}
.FacilitesContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; /* Distribute items evenly with 10% margin */
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    

  }
  
  .Facilites {
    flex: 0 0 calc(25% - 20px); /* 25% width with 20px margin between items */
    margin: 10px; /* Add some spacing between items */
    text-align: center;
  }
  
  .Facilites img {
    max-width: 100%;
  }
  